@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NotoSansSC';
  src: url('./assets/NotoSansSC-VariableFont_wght.woff') format('woff');
  font-weight: 100 900;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4f4f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1aa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a1a1aa;
}

body {
  font-family: 'NotoSansSC', sans-serif;
}